body {
	font-size: 13px;
	line-height: 20px;
	background: #e0e1da url(../img/bg-header.png) repeat-x;
}
img {
	vertical-align: bottom;
}
h1 {
	font-size: 18px;
	background: #b1cbde;
	padding: 10px;
	margin: 0 0 15px;
}
h2 {
	font-size: 16px;
	margin: 30px 0 10px;
}
h1 + h2 {
	margin-top: 0;
}
h3 {
	font-size: 13px;
	color: #999;
	text-transform: uppercase;
	margin: 0;
}
p {
	margin: 0 0 15px;
}
a {
	color: #6b9ecc;
	text-decoration: none;
}
a:visited {
	color: #999;
}
a:hover, #footer a:hover {
	color: #900;
}
a[href$=".pdf"] {
	background: url(../img/icon-pdf.png) no-repeat right center;
	padding: 2px 21px 2px 0;
}
a[href^="http"] {
	background: url(../img/icon-external.png) no-repeat right center;
	padding: 2px 21px 2px 0;
}
a[href*="amazon.com"] {
	background: url(../img/icon-amazon.png) no-repeat right center;
	padding: 2px 21px 2px 0;
}
.imgLeft {
	float: left;
	margin-right: 10px;
}
.imgRight {
	float: right;
	margin-left: 10px;
}
.button {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	outline: 1px solid #ccc;
	padding: 7px 10px;
	background: #fff;
	border: 0;
}
.button:hover {
	outline: 3px solid #900;
	color: #900;
}
#pageWrapper {
	width: 980px;
	margin: auto;
	position: relative;
}
#header {
	margin-bottom: 20px;
	width: 935px;
}
#header img {
	padding: 0 15px;
}
#header #logo {
	float: left;
	margin: 12px 0 0 5px;
}
#header #navContact {
	float: right;
}
#container {
	width: 780px;
	margin-left: 144px;
}
#contact {
	position: absolute;
	top: 57px;
	right: 43px;
	z-index: 1;
	background-color: #9FBCCD;
	padding: 20px;
	border: 1px solid #FFF;
	display: none;
}
#contact h3 {
	font-size: 15px;
	text-transform: uppercase;
	color: #FFF;
	padding: 0px;
	background-color: transparent;
	margin-bottom: 10px;
}
#contact p {
	font-size: 11px;
	line-height: 14px;
	background-color: #F3F4ED;
	padding: 8px;
	margin-bottom: 0px;
}
#contact a {
	color: #113B9E;
	text-decoration: none;
}
#contact #closeBox {
	float: right;
	margin-top: -12px;
	margin-right: -12px;
}
#masthead {
	border: 5px solid #b1cbde;
	margin-bottom: 20px;
	position: relative;
}
#masthead .caption {
	font-weight: bold;
	text-align: center;
	background: #fff;
	padding: 8px;
	border: 1px solid #b1cbde;
	position: absolute;
	top: 12px;
	right: -18px;
}
#main {
	overflow: hidden;
}
#main h2:first-child {
	margin-top: 0;
}
#container .highlighted {
	background: #fff;
	border: 5px solid #b1cbde;
	padding: 20px;
}
#container .muted {
	background: #bfc0b1;
	padding: 20px;
}
#main ul {
	margin: 20px 9px 55px;
}
#main *:last-child {
	margin-bottom: 0;
}
#colPrimary {
	float: left;
	width: 65%;
	border-right: 1px solid #ddd;
	padding: 0 5% 2% 0
}
#colPrimary input[type="text"],
#colPrimary textarea {
	display: block;
	width: 75%;
	margin-bottom: 17px;
	border: 1px solid #ccc;
	padding: 8px;
}
#colSecondary {
	float: right;
	width: 25%;
}
#colSecondary div:first-child {
	margin-bottom: 25px;
}
.rounded {
	-webkit-border-radius: 15px; 
	        border-radius: 15px; 
}
.rounded-opposing {
	-webkit-border-radius: 0 15px 0 15px; 
	        border-radius: 0 15px 0 15px; 
}
#ocean {
	background: url(../img/head-oceanfreight.png);
	height: 100px;
	width: 530px;
	text-indent: -9000px;
	margin: 30px -20px 0;
}
#air {
	background: url(../img/head-airfreight.png);
	height: 100px;
	width: 530px;
	text-indent: -9000px;
	margin: 30px -20px 0;
}
#tagline {
	clear: both;
	font-size: 16px;
	font-weight: bold;
	color: #9c6337;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}
#footer {
	margin: 50px 0;
	text-align: center;
}
#footer a:after {
	content: " >";
}
#footer a {
	color: #777;
	margin-left: 10px;
}